{% for page in pages %}
    <li class="{{ page.menuClass }}">
        <a href="{{ path(page) }}">{{ page.menuTitle }}</a>
        {% if page.hasChildren %}
            <ul>
                {% include "BrotherCommonBundle:CMS:_menu_items.html.twig" with { pages: page.children } %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
